/* Header */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 1rem;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #999;
  }
  
  .auth a {
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .auth a:hover {
    background-color: #999;
  }
  
  /* Main */
  main {
    max-width: 1200px;
    margin: 8rem auto 0 auto;
    padding: 0 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input {
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #999;
  }
  